
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
 
form{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 68%;
}
label{
    display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}
#navigation{
    height:5%;
    background-color:aqua;
    width: 70%
}

input[type=checkbox], select {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
